<div class="container">
    <div class="row">
        <div class='col-md-12'>
            <div class="header">
                <h1 id='header'>EAT-DA-BURGER</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-md-6' id='not-eaten'>
            <div class="menu-field">
                <h2>Hot And Ready!</h2>
                {{#each burger}}
                <div>
                    {{#unless this.devoured}}
                    <div class="burger-line">
                        <h4 class="burger-field">{{this.id}}. {{this.burger_name}}</h4>
                        <form action='/{{this.id}}?_method=PUT' method='POST'>
                            <input type='hidden' name='devoured' value='true'>
                            <button class="devour-button btn btn-default" type="submit">Devour It</button>
                        </form>
                    </div>
                    {{/unless}}
                </div>
                {{/each}}
            </div>
        </div>

        <div class='col-md-6' id='eaten'>
            <div class="ate-field">
                <h2>Got Devoured!</h2>
                {{#each burger}}
                <div>
                    {{#if this.devoured}}
                    <div  class="burger-line">
                        <h4 class="burger-field">{{this.id}}. {{this.burger_name}}</h4>
                        <form action='/{{this.id}}?_method=PUT' method='POST'>
                            <input type='hidden' name='devoured' value='false'>
                        </form>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class='col-md-12'>
            <form class="form-group" action='/' method='POST'>
                <div class='form-group'>
                    <br>
                    <hr>
                    <label>
                        <h2  class='burger-label'>Make A Burger: </h2>
                    </label>
                    <input type="text" id="burger-input" name="burger_name">
                </div>
                <button class='add-button btn btn-default' type="submit">Add A Burger</button>
            </form>
        </div>
    </div>
</div>